#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.swal2-backdrop-show{
  background: rgba(0, 0, 0, .4);
backdrop-filter: blur(10px) !important;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.phone-image{
  width: 120px;
  margin-bottom: 25px;
}

.form{
  width: 100%; 
  padding: 6px 20px; 
  margin-bottom: 15px;
}

.kr {
	font-family: 'Khand', sans-serif;
	font-weight: 400;
	font-size: 20px;
}
.meb {
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
}
.col-sm-12{
  padding-left: 25px;
  padding-right: 25px;
}

.validate{
  margin-bottom: 70px; 
  text-transform: uppercase;
  text-align:left;
}
.texto-beneficios{
  margin-bottom: 35px; 
  text-align:center;
  
}
.rojo {
	color: #c41f30;
}

.btn-localizar {
	background: #c41f30;
	border: none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	padding: 6px 20px;
	width: 100%;
	margin-bottom: 15px;
}

.imei{
  text-align:left;
}

.justify {
	text-align: justify;
}

.container{
  height: 100%;
  margin: 0%;
}

